ul {
    list-style: none;
}
#tree {
    margin: 2em 0 0 2em;
    width: 20em;
}
#tree > li {
    padding-bottom: 3px;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
}
#tree li > a {
    color: #000;
    text-decoration: none;
}
#tree .sub > a:before {
    content:'+';
    padding-right: 4px;
    font-weight: bold;
}
#tree .sub > a.active:before {
    content:'-';
    padding-right: 4px;
    font-weight: bold;
}
#tree li div ul {
    margin: 0.5em 0 0.5em 2em;
    display: none;
}
